body {
	margin:0; 
	padding:0; 
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	box-sizing: border-box;
	overflow: auto;
}
.switchLocalLawShown{
	border-radius:5px;
	margin: 5px 10px;
	padding: 5px;
	cursor: pointer;
}
.switchLocalLawShown:hover{
	color: #ED8F03;	
}
.selectedLL {	
 color: orange;
}